<div class="heading">Covid 19 Stats</div>
<mat-grid-list cols='5' rowHeight="100" *ngIf="totalData">
  <mat-grid-tile>
    <div>
      <div class="tile-heading">Confirmed</div>
    <div>{{totalData.confirmed | number}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div class="tile-heading">Recovered</div>
    <div>{{totalData.recovered | number}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div class="tile-heading">Critical</div>
    <div>{{totalData.critical | number}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div class="tile-heading">Deaths</div>
    <div>{{totalData.deaths | number}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div class="tile-heading">Last Updated</div>
    <div>{{totalData.lastUpdate | date: 'hh:mm| dd-MMM-YYYY'}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
